
SQLALCHEMY_DATABASE_URI="mysql+pymysql://username:password@localhost:3306/db_name_example"
FIRST_SUPERUSER="admin@email.com"

FIRST_SUPERUSER_PASSWORD="CHANGEME"

API_V1_STR="/api/v1"
JWT_SECRET="TEST_SECRET_DO_NOT_USE_IN_PROD"
ALGORITHM= "HS256"

BACKEND_CORS_ORIGINS = [ "http://localhost:3000"]

