
SQLALCHEMY_DATABASE_URI="mysql+pymysql://root:password123+@localhost:3306/michelapp_db"

FIRST_SUPERUSER="admin@email.com"
sender_email_address = "ejemplo@correo.com" # Correo para el sistema
password_aplicacion = 'contraMuySegura' # Contrasena para el envio de correos GMAIL

FIRST_SUPERUSER_PASSWORD="CHANGEME"

API_V1_STR="/api/v1"
JWT_SECRET="TEST_SECRET_DO_NOT_USE_IN_PROD"
ALGORITHM= "HS256"

BACKEND_CORS_ORIGINS = [ "http://localhost:3000"]

